<nav>
  <ul>
    <li>{{#link-to "home"}}Home{{/link-to}}</li>
    <li>{{#link-to "user"}}My profile{{/link-to}}</li>
  </ul>

  <button class="yell">Yell</button>
</nav>

<h1 id="title">
  {{#if showAppName}}
    Welcome to {{appName}}
  {{else}}
    Welcome to Ember.js
  {{/if}}
</h1>

{{outlet}}
