<h2>Home</h2>

<div class="page-container home-page">
  <aside class="left">
    {{profile-summary user=model.user}}
  </aside>
</div>

<main>
  {{status-update}}
  {{yells-list}}
</main>

{{outlet}}
