{{#link-to "user"}}
  old_yallr
{{/link-to}}

<ul class="profile-stats">
  <li>
    <h4>Yells</h4>
    <p>10</p>
  </li>
  <li>
    <h4>Following</h4>
    <p>42</p>
  </li>
  <li>
    <h4>Followers</h4>
    <p>29</p>
  </li>
</ul>

{{yield}}
