<h2>My profile</h2>

<ul>
  <li>
    {{#link-to "user.index"}}
      Yells
    {{/link-to}}
  </li>
  <li>
    {{#link-to "user.following"}}
      Following
    {{/link-to}}
  </li>
  <li>
    {{#link-to "user.followers"}}
      Followers
    {{/link-to}}
  </li>
</ul>

{{outlet}}
